@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  background-color: #8991ea;
}
.App {
  display: flex;
  flex-direction: column;
}

.header-text {
  display: flex;
  justify-content: center;
  color: #fefefe;
  font-size: 4rem;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  margin-top: 10%;

}
.login-page-content {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1rem;
  text-decoration: none;

}
.login-page-content button {
  display: flex;
  color: #505050;
  text-decoration: none;

}
.btn-settings {
    justify-content: center;
    margin:  0 auto;

    border-radius: 3rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.2rem;
    color: #505050;
    font-size: 2rem;
    background-color: #fff;
    width: 30vh;
    height: 6vh;
    text-decoration: none;

}
.btn-settings span {
  text-decoration: none;
}
.btn-start {
    justify-content: center;
    margin:  0 auto;
    border-radius: 3rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.2rem;
    color: #505050;
    font-size: 2rem;
    background-color: #fff;
    width: 30vh;
    height: 6vh;
    text-decoration: none;
}
.btn-start:hover , .btn-settings:hover {
    background-color:#84eb9c;
  
}